:root {
    --primary-one: #30C5FF;
    --primary-one-light: #A0E4FF;
    --primary-two: #FFE74C;
    --primary-three: #69E062;
    --secondary-one: #2A2D34;
    --secondary-one-light: #9E9FA2;
    --secondary-two: #1B4965;
}

:local(.container) {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid var(--secondary-one-light);
}

:local(.inputWrapper) {
    padding: 0 0 1em 0;
}

:local(label) {
    display: block;
    color: #777777;
}

:local(.inputIcon) {
    position: absolute;
    width: 2em;
    padding: .7em 0 0 0;
    margin: 2px 0 0 0;
    text-align: center;
    line-height: normal;
    color: var(--secondary-one-light);
}

:local(input) {
    width: 100%;
    text-indent: 1em;
    border-radius: 4px;
    font-size: 16px;
    padding: .7em;
    margin: 0 0 .2em 0;
    border: 1px solid var(--secondary-one);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:local(input:focus) {
    border: 1px solid var(--primary-one);
}

:local(.inputSection) {
    padding: .1em 0 .1em 0;
}

:local(select) {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--secondary-one);
}

:local(.results) {
    display: table;
    width: 100%;
    color: white;
    border-radius: 4px;
    margin: 1em 0 0 0 ;
}

:local(.resultRow) {
    display: table-row;
    background-color: var(--primary-one);
}

:local(.resultLabel) {
    display: table-cell;
    text-align: left;
    padding: 1em 0 1em 1em;
    border-bottom: 1px solid var(--primary-one-light);
}

:local(.resultValue) {
    display: table-cell;
    text-align: right;
    padding: 1em 1em 1em 0;
    border-bottom: 1px solid var(--primary-one-light);
}

:local(.totalPayment) {
    background-color: var(--secondary-two);
    border-bottom: none;
}

:local(button) {
    background-color: var(--secondary-one);
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

:local(.advanced) {
    padding-top: 1em;
}

:local(.advancedButton) {
    text-align: center;
}

:local(.schedule h3) {
    text-align: center;
    color: var(--secondary-one)
}

:local(.paymentList) {
    display: table;
    padding: 0;
    width: 100%;
    font-size: 14px;
    color: var(--secondary-one-light);
    text-align: center;
}

:local(.paymentHeader) {
    color: var(--secondary-one);
}
:local(.paymentHeader div) {
    border-bottom: 1px solid var(--secondary-one-light);
}

:local(.paymentRow) {
    display: table-row;
}

:local(.paymentRowYear) {
    color: var(--secondary-one);
}

:local(.paymentRow div) {
    display: table-cell;
    padding: .2em 0;
}

:local(.versionInfo) {
    text-align: center;
    font-size: 9pt;
}

:local(.versionInfo a) {
    color: var(--primary-one);
    text-decoration: none;
}