:local(.container) {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 1em;
    background-color: #eeeeee;
    border-radius: 4px;
}

:local(label) {
    display: block;
    color: #777777;
    margin-bottom: .5em;
}

:local(input) {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px 7px 7px 28px;
    border: 1px solid lightslategrey;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:local(.inputIcon) {
    position: absolute;
    padding-top: 11px;
    width: 32px;
    text-align: center;
    color: lightslategrey;
    pointer-events: none;
}

:local(.fieldSeparator) {
    margin: 1em 0;
}

:local(select) {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid lightslategrey;
}

:local(hr) {
    margin: 1em 0 1em 0;
    border: 1px dotted lightgray;
}

:local(.results) {
    display: table;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
}

:local(.resultRow) {
    display: table-row;
}

:local(.resultLabel) {
    display: table-cell;
    text-align: left;
    padding: 1em 0 1em 1em;
    border-bottom: 1px solid lightblue;
}

:local(.resultValue) {
    display: table-cell;
    text-align: right;
    padding: 1em 1em 1em 0;
    border-bottom: 1px solid lightblue;
}