body {
    font-family: Helvetica, sans-serif;
}

.mortgageCalculator {
    width: 300px;
    margin: 0 auto;
    padding: 1em;
    background-color: #eeeeee;
}

.mortgageCalculator label {
    color: #777777;
}